@import "../../variables.scss";

.advisory-service {
  padding: 10rem;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    flex-grow: 1;
    gap: 0.5rem;

    h1 {
      font-family: $font-secondary;
      margin-bottom: 5rem;
      text-align: center;
      text-shadow: 15px 13px 9px #333333;
    }

    .service {
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 5rem;
      padding: 0 5rem;

      &:nth-of-type(odd) {
        align-items: start;
        text-align: left;
      }
      &:nth-of-type(even) {
        align-items: end;
        text-align: right;
      }

      div {
        padding: 1rem;
        // border-radius: 1rem;
        width: 100%;

        h3,
        p {
          font-family: $font-secondary;
          line-height: 1.5;
          margin-bottom: 0;
        }

        @media screen and (max-width: 768px) {
          padding: 0;
          border-bottom: 3px solid $primary-color;
        }
      }
      @media screen and (max-width: 991px) {
        padding: 0;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 2rem;
  }
  @media screen and (max-width: 992px) {
    padding: 5rem;
  }
}
