#advisory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 5rem 10rem;

  h1 {
    font-family: $font-secondary;
    line-height: 3;
    font-size: 3rem;
    text-shadow: 15px 13px 9px #333333;
  }

  p {
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    padding: 2rem;
  }
  @media screen and (max-width: 992px) {
    padding: 5rem;
  }
}
