@import "../../variables.scss";

.banner {
  padding: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  //   ,
  //     url("../../assets/banner-bg.jpg");
  background-size: cover;

  h1 {
    font-size: 4rem;
    font-family: $font-secondary;
    line-height: 1.5;
    text-align: center;
    color: whitesmoke;
  }

  p {
    font-family: $font-secondary;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
  @media screen and (max-width: 992px) {
    padding: 15rem 0 0;
  }
}
